{% extends 'tasks/base.html' %}
{% block content %}
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Title</th>
        <th scope="col">Status</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for item in todos %}
      <tr>
        <th scope="row">{{ item.date_added }}</th>
        {% if item.status_completed == True %}
        <td><del>{{item.title}}</del></td>
        {% else %}
        <td>{{ item.title }}</td>
        {% endif %}

        {% if item.status_completed == False %}
        <td>Not completed</td>
        {% else %}
        <td>Completed</td>
        {% endif %}
        <td><a class="btn btn-sm btn-success" href="{% url 'todo-update' item.id %}">Update</a></td>
        <td><a class="btn btn-sm btn-danger" href="#">Delete</a></td>
      </tr>
      {% endfor %}
  </table>
{% endblock content %}
